body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  max-width: 2.3rem;
  width: 100%;
  max-height: 2.3rem;
  height: 100%;
  align-items: center;
  flex-grow: 0;
  background-color: #6c933e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header_menu_img {
  max-width: 0.8rem;
  width: 100%;
  height: auto;
}

.hero {
  background-image: url(/images/cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 80% center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero_text {
  position: absolute;
  bottom: 20%;
  text-align: center;
  max-width: 19.7rem;
  width: 100%;
  line-height: 0.5;
}

.hero_title {
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: bold;
  margin: 350px 4.5px 30px 0;
}

.hero_paragraph {
  font-family: "Roboto", sans-serif;
  line-height: 1.19;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
   width: 13vw;        
  height: 13vw;       
  max-width: 4rem;    
  max-height: 4rem;
  min-width: 2.5rem;    
  min-height: 2.5rem;  
  background-color: white;
  border-radius: 50%;
  margin-top: auto;    
  bottom: 7rem;     
}

.hero_button_img {
 width: 50%; 
  height: auto;
}

.shopping {
    display: flex;
    flex-direction: column; 
    align-items: center;       
    margin-top: 1rem;  
    margin-bottom: 1rem;  
}

.shopping_header_title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #6c933e;
  margin: 0;
}

.shopping_title {
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin: 0.3rem 0;
}

.shopping_text {
  width: 290px;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: var(--greyish-brown-d-9-e-4-cc);
  margin: 0;
}
.shopping_button {    
  width: 30%;
  font-size: 1rem;  
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0.6rem; 
  background-color: #6c933e; 
  color: #ffffff;
  font-weight: 500;
  line-height: 2.25;
  margin: 10.5px 50.5px 0 25.5px;
  border: none;
  border-radius: 0.6rem; 
  background-color: #6c933e; 
  color: white;
  text-align: center;
  }

  .products {    
  display: grid;
  justify-items: center;
  background-color: #d9e4cc;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  padding-bottom: 2rem;
  }

  .products_header_title { 
  font-size: 14px;
  font-weight: bold;  
  line-height: 2.5;  
  color: #626262
  }

  .products_title {  
  margin: -20px 6px 11.4px 4px;  
  font-size: 20px;
  font-weight: bold;
   line-height: 1.5; 
   text-transform: uppercase;
}  

  .products_img {
  max-width: 114px;
  width: 100%;
  height: auto;
  flex-grow: 0;
  margin: 11.4px 91px 5px 95px;
  object-fit: contain;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 50%; 
  }

  .products_text {   
  margin: 5px 0 9.5px 3px;
  font-size: 14px;
  font-weight: bold;  
  line-height: 2.14;     
  }

  .product_button {
   max-width: 184px;           
  padding: 0 23.5px;  
  margin: 0 0 10.5px;
  border-radius: 22.5px;
  font-size: 1.3rem; 
  font-weight: 500; 
  font-family: "Roboto", sans-serif; 
   font-style: normal;
  line-height: 2.25;
  text-decoration: none;
  border: none;
  border-radius: 22.5px;
  background-color: #6c933e; 
  color: white;  
  }

  .navigation_container {
    background-color: #4a4a4a;  
  }

  .navigation {
    display: flex;
    flex-direction: column;   
    position: relative;    
    gap: 2rem;
    padding: 0 8.4px 33.5px 13.4px;
    background-color: #4a4a4a;  
    font-family: "Roboto", sans-serif;    
  }  

  .navigation_button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 11vw;
  height: 11vw;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .shop_navigation {
   list-style: none;
  padding: 0rem;
  padding-top: 2rem;
  margin: 0;
  text-align: center;
  }

  .navigation_link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;    
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.footer_copy {      
  font-size: 14px;    
  text-align: center;
  color: white;
  margin-top: 5px; 
}

.footer_slogan {  
  flex-grow: 0;  
  font-family: "Roboto", sans-serif;   
  font-size: 14px;  
  text-align: center;
  color: white;
}

.footer_heart {
  color:green;
}

  

 

 
 

 

  
  

  








